services:
  - type: web
    name: mytimetable
    env: python
    plan: free
    buildCommand: pip install --upgrade pip && pip install -r requirements.txt
    startCommand: chmod +x backend/start_render.sh && ./backend/start_render.sh
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.18
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: DJANGO_SETTINGS_MODULE
        value: my_timetable.settings_render
      - key: EMAIL_HOST_USER
        value: bhagatmanik4321@gmail.com
      - key: EMAIL_HOST_PASSWORD
        value: xvde dtop bxvq rayh
    autoDeploy: true

databases:
  - name: mytimetable-db
    databaseName: mytimetable
    user: mytimetable
    plan: free
